# ESP-IDF
build/
sdkconfig.old
managed_components/
dependencies.lock

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env
backend_server/.env

# Node / Vue
node_modules/
dist/

# VS Code
.vscode/
!.vscode/settings.example.json

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Binary
*.zip
*.rar
*.7z